/* GENERAL */

html {
    box-sizing: border-box;
    font-size:62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    font-family: var(--fuenteParrafos);
    line-height: 2;
    font-size:1.6rem;
}
:root{
      --fuenteHeading:'PT Sans', sans-serif;
      --fuenteParrafos: 'Open Sans', sans-serif;
      --primario:#784D3C;
      --blanco:#ffffff;
      --negro:#000000;
      --grisClaro:#e1e1e1;
}

/* Globales */
.contenedor{
    width: min(90% ,120rem);
    margin: 0 auto;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4{
    font-family: var(--fuenteHeading);
    line-height: 1.2;
}
h1{
    font-size: 4.8rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3.2rem;
}
h4{
    font-size: 2.8rem;
}
img{
    max-width: 100%;
}

/* UTILIDADES */

.no-margin{
    margin: 0;
}
.no-padding{
    padding: 0;
}
.centrar-texto{
    text-align: center;
}

/* HEADER */
.header{
    background-image: url(../img/banner.jpg);
    height: 60rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
}
.header__texto{
    color: var(--blanco);
    margin-top: 5rem;
}
.logo{
    color:var(--blanco);
}
.logo__nombre{
    font-weight: 400;
}
.logo__bold{
    font-weight: 700;
}
.navegacion__enlace{
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color:var(--blanco)
}
.barra{
    padding-top: 4rem;
}

/* Cuerpo */

.entrada{
    border-bottom:1px solid var(--grisClaro);
    margin-bottom: 2rem;
}
.entrada:last-child{
    border-bottom: none;
    margin-bottom: 0;
}
.boton{
    display: block;
    font-family: var(--fuenteHeading);
    color: var(--blanco);
    font-weight: 700;
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    margin-bottom: 2rem;

}
.boton--primario{
    background-color: var(--negro);
}
.boton--secundario{
    background-color: var(--primario);   
}
.cursos{
    list-style: none;
}
.cursos-widget{
    border-bottom: 1px solid var(--grisClaro);
    margin-bottom: 2rem;
}
.curso-widget:last-of-type{
    border-bottom: none;
    margin-bottom: 0;
}
.widget-curso__label{
    font-family: var(--fuenteHeading);
    font-weight: bold;
    font-size: 2rem;
}
.widget-curso__info{
    font-weight: 400;
    font-size: 2rem;
}


/* Footer */
.footer{
    background-color: var(--negro);
    padding-bottom:3rem;
    margin-top: 4rem;
}


/* MEDIA QUERYS */
@media (min-width: 768px) {
    .header__texto{
        margin-top: 14rem;
    }
    .barra{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navegacion{
        display: flex;
        gap:2rem;
    }
    .contenido-principal{
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 4rem;
    }
    .boton{
        display: inline-block;
    }
    .sobre-nosotros{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 2rem;
    }
}